@model CorridaDeCachorros.CorridaDeCachorro

@{
    ViewData["Title"] = Model.GUID;
    string sumario = ViewData["SumarioCorrida"].ToString();

}
@if(string.IsNullOrEmpty(sumario) is false)
{
    <h1>Resultado corrida</h1>
    <textarea>
        @sumario
    </textarea>
}
<div>
    <h1> Apostas </h1>
   <form asp-controller="CorridaDeCachorros" asp-action="Aposta" method="post">

        <select id="nomeApostador" name="nomeApostador" class="form-select" aria-label="Selecione um Apostador">
        <option selected>@Model.Apostadores[0].Nome</option>
        @foreach (var item in Model.Apostadores)
        {
            <option value="@item.Nome">@item.Nome</option>
        }
    </select>

        <select id="nomeCorredor" name="nomeCorredor" class="form-select" aria-label="Selecione um cachorro">
        <option selected>@Model.Corredores[0].Nome</option>
        @foreach (var item in Model.Corredores)
        {
            <option value="@item.Nome">@item.Nome</option>
        }
    </select>

    <input type="number" id="valorAposta" name="valorAposta" placeholder="Aqui digita a sua aposta" value="5" />

    <input class="btn" type="submit" value="Apostar" />
</form>
 </div>

  <form asp-controller="CorridaDeCachorros" asp-action="Correr" method="post">
    <input class="btn" type="submit" value="Correr" />
  </form>

<div class=".col-md-4">
    <h1> Cachorros </h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Corredores![0].Nome)
                </th>  
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Corredores!)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class=".col-md-4">
    <h1> Apostadores </h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Apostadores![0].Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apostadores![0].Saldo)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Apostadores!)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Saldo)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>